<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>{title}</title>
    <link href="{name}.css"  rel="stylesheet" media="screen" />
    <meta name="twitter:card" content="{title}">
    <meta name="twitter:site" content="ourtunes">
    <meta name="twitter:creator" content="ourtunes">
    <meta property="og:title" content="{title}" />
    <meta property="og:type" content="music.playlist" />
    <meta property="og:url" content="{url}" />
    <meta property="og:image" content="{image}" />
  </head>
  <body>
    <h1 class="title">{title}</h1>
    <div class="cover" style="background-image: url({image})"></div>
    <div class="container">
      {header}
      {playlist}
    </div>
  </body>
  <script type="text/javascript" src="{name}.js"></script>
</html>
